<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دیجی مگ</title>
</head>

<body>
    <main>
        {% block body %}

        {% endblock %}
    </main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>

</html>