{% extends 'base.html' %}

{% block body %}
	<div>
        <section>
            <img src="/static/uploads/{{ p.id }}.jpg" alt="..." width="350px">
        </section>

        <p>{{ p.name }}</p>

        <div>
            <span>قیمت: {{ p.price }} تومان</span>
        </div>

        <article>
            <span>موجودی: {{ p.stock }}</span>
        </article>

        <div>
            <p>
                {{ p.description }}
            </p>
        </div>

    <article>
        <form action="{{ url_for("user.add_to_cart") }}">
            <input type="hidden" name="id" value="{{ p.id }}">
            <input type="submit" value="افزودن به سبد خرید">
        </form>
    </article>
    </div>
{% endblock %}